

<!-- Section 1 -->
<section id="intro" data-speed="6" data-type="background">
    <div class="container">
        


        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html><head><title>background-color</title>
<style type="text/css">
.weiss { background-color:#FFFFFF; padding: 10px; }
</style>
</head><body>

<p><h2><span class="weiss">Herzlich Willkommen</span></h2></p>
<br>
<p><span class="weiss">Hier gibt es viel zu sehen</span></p>


</body></html>

    </div>
</section>

<br>

<!-- Section 2 -->
<section id="home" data-speed="4" data-type="background">
    <div class="container">
<!-- hier kann noch mehr Inhalt im Container eingefügt werden -->
<h1>Hallo</h1>
Auf dieser Seite werden schon bald unsere Möbel angezeigt - nur noch etwas Geduld
<p> Please be patient </p>
    </div>
</section>
<br>
<br>

      <img src="http://res.cloudinary.com/furniture/image/upload/v1407067264/slide2_ashdkh.jpg" alt="Möbel">

     <footer><br><p style="text-align: center;"> Elias Koster - Fischerweg 11 - 3012 Bern </p>
     </footer>

